.timeline {
  grid-area: timeline;
  overflow: hidden;
  position: relative;
  background: black
}

.timeline canvas {
  height: 100%;
  width: fit-content;
}

.timeline .timelinepointer {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  background: lime;
}